body {
  font-family: "Raleway";
  font-size: 13px;
}

.light-blue-bg {
  background-color: #f0f3f6;
}

.container {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.modal-background {
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100010;
}

.bubble {
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid transparent;
}
.bubble.bubble-blue-gray {
  color: #333;
  background-color: #a5c4da;
  border-color: #a5c4da;
}
.bubble.bubble-blue-gray .label.label-default {
  background-color: #5d6069;
}
.bubble.bubble-blue-gray h1 small, .bubble.bubble-blue-gray .panel-blue-gray h2 small, .bubble.bubble-blue-gray h3 small, .bubble.bubble-blue-gray h4 small {
  color: #555;
}
.bubble.bubble-gray {
  color: #333;
  background-color: #EFEFEF;
  border-color: #EFEFEF;
}
.bubble.bubble-default {
  color: #333;
  border-color: #ddd;
  background-color: #f5f5f5;
}
.bubble.bubble-active {
  background-color: #f0b985;
  border-color: #c58a52;
}

.label {
  border-radius: 3px;
  padding: 3px;
  font-stretch: condensed;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
}
.label.label-default {
  background-color: #666;
  color: #fff;
}
.label.label-orange {
  background-color: #eeaa21;
  color: #fff;
}

h2 .label {
  font-size: 13px;
}

.panel {
  border: 1px solid #dadada;
  border-radius: 3px;
}
.panel .panel-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px;
  border: 0;
  text-align: left;
}
.panel .panel-title {
  margin-top: 0.5em;
  float: left;
  font-size: 1.5em;
}
.panel .panel-logo {
  float: left;
  margin-right: 1.5em;
}
.panel .panel-body {
  padding: 10px;
  text-align: left;
}
.panel .panel-body label {
  line-height: 1.5em;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

select.form-element {
  height: 40px;
}

.form-element {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-element:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-inline .form-element {
  display: inline-block;
}

.column-sm-100, .column-xs-100 {
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  box-sizing: border-box;
}

.column-sm-50, .column-xs-50 {
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  box-sizing: border-box;
}
.column-sm-50.column-full, .column-xs-50.column-full {
  width: 48%;
}
.column-sm-50.column-full:nth-child(2n+1), .column-xs-50.column-full:nth-child(2n+1) {
  margin-left: 0;
}
.column-sm-50.column-full:nth-child(2n), .column-xs-50.column-full:nth-child(2n) {
  margin-right: 0;
}

.column-sm-25 {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  box-sizing: border-box;
}

.element-wrapper {
  margin-bottom: 15px;
}

.clickable {
  cursor: pointer;
}

.btn {
  padding: 8px 10px;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn.btn-xs {
  padding: 3px 6px;
}
.btn.btn-submit {
  background-color: #4a85c7;
  color: white;
}
.btn.btn-active {
  border: 1px solid #eeaa21;
  background-color: #ffedc0;
  color: black;
}
.btn.btn-inactive, .btn.btn-default {
  border: 1px solid #999;
  background-color: #fff;
  color: black;
}
.btn.btn-reset {
  background-color: #dd6363;
  color: white;
}

.alert {
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 15px;
}
.alert.alert-error {
  background-color: #f2baba;
  border: 1px solid #ba6161;
}

.no-margin {
  margin: 0;
}

.margin-bottom-xs {
  margin-bottom: 3px;
}

.margin-bottom-sm {
  margin-bottom: 5px;
}

.margin-bottom-md {
  margin-bottom: 10px;
}

@media only screen and (max-width: 820px) {
  .container {
    width: 96%;
    padding: 0 2%;
  }

  .column-sm-50 {
    width: 96%;
  }
}

/*# sourceMappingURL=main.css.map */
