$light-blue: #f0f3f6;
$gray: #dadada;

$xs:	3px;
$sm:    5px;
$md:	10px;
$lg:    15px;
$xl:	20px;
$xxl:   30px;

$padding-xs:	$xs;
$padding-sm:    $sm;
$padding-md:	$md;
$padding-lg:    $lg;
$padding-xl:	$xl;
$padding-xxl:   $xxl;

$margin-xs:		$xs;
$margin-sm:		$sm;
$margin-md:		$md;
$margin-lg:		$lg;
$margin-xl:		$xl;
$margin-xxl:    $xxl;

$brand-white: 			#fff;
$brand-black:			#000;
$brand-offblack:        #333;

$brand-gray:            #ddd;

$brand-blue-gray:       #a5c4da;
// $brand-blue-gray:       #94a6b5;
$brand-light-blue:      #7fb5da;
$brand-red: 			#d9534f;
$brand-green: 			#5cb85c;
$brand-orange:          #E1883C;
$brand-light-orange:    #f0ad4e;
$brand-purple:          #6824BD;
$brand-pink:          	#D050D1;
$brand-yellow:			#FFC400;
$brand-gray: 			#EFEFEF;

body {
    font-family: "Raleway";
    font-size: 13px;
    margin: 0;
}

.modal-open {
    overflow: hidden;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.light-blue-bg {
    background-color: $light-blue;
}

.container {
    width: 800px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    
}

.modal-background {
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: #000;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

    z-index: 100000;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100100;

    .modal-content {
        width: auto;
        margin: 10px;

        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
        box-shadow: 0 3px 9px rgba(0,0,0,.5);
    }
}

.bubble {
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid transparent;

    &.bubble-blue-gray {
        color: #333;
        background-color: $brand-blue-gray;
        border-color: $brand-blue-gray;

        & .label.label-default {
            background-color: #5d6069;
        }

        & h1 small, .panel-blue-gray h2 small, & h3 small, & h4 small {
            color: #555;
        }
    }

    &.bubble-gray {
        color: #333;
        background-color: $brand-gray;
        border-color: $brand-gray;
    }

    &.bubble-default {
        color:               #333;
        border-color:        #ddd;
        background-color:    #f5f5f5;
    }

    &.bubble-active {
        background-color: #f0b985;
        border-color: #c58a52;
    }
}

.label {
    border-radius:3px;  
    padding:3px; 
    font-stretch: condensed; 
    display:inline-block; 
    font-size: 10px;
    font-weight: bold;
    
    &.label-default {
        background-color:#666;
        color:#fff;
    }

    &.label-orange {
        background-color: #eeaa21;
        color: #fff;
    }
}

h2 .label {
    font-size:13px;
}



.panel {
    border: 1px solid $gray;
    border-radius: 3px;

    .panel-header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding:10px;
        border: 0;
        text-align: left;
    }

    .panel-title{
        margin-top: .5em;
        float: left;
        font-size: 1.5em;
    }

    .panel-logo {
        float:left;
        margin-right: 1.5em;
    }

    .panel-body {
        padding:10px;
        text-align: left;

        label {
            line-height:1.5em;
            font-weight:bold;
        }
    }

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


select.form-element {
    height:40px;
}


.form-element {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
}
.form-inline .form-element {
    display:inline-block;
}


.column-sm-100, .column-xs-100 {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    box-sizing: border-box;
}

.column-sm-50, .column-xs-50 {
    width:46%;
    margin-left:2%;
    margin-right:2%;
    float:left;
    box-sizing: border-box;

    &.column-full {
        width:48%;
        &:nth-child(2n+1){
            margin-left: 0;
        }
        &:nth-child(2n) {
            margin-right:0;
        }
    }
}

.column-sm-25 {
    width: 23%;
    margin-left:1%;
    margin-right:1%;
    float:left;
    box-sizing: border-box;
}

.element-wrapper {
    margin-bottom: 15px;
}

.clickable {
    cursor: pointer;
}

.btn {
    padding: 8px 10px;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block;
    border: 0;
    cursor: pointer;

    &.btn-xs {
        padding: 3px 6px;
    }

    &.btn-submit {
        // background-color: #e29837;
        // background-color: #f0c859;
        background-color: #4a85c7;
        color: white;
    }

    &.btn-active {
        border:1px solid #eeaa21;
        background-color: #ffedc0;
        color: black;
    }

    &.btn-inactive, &.btn-default {
        border:1px solid #999;
        background-color: #fff;
        color: black;
    }

    &.btn-reset {
        background-color: #dd6363;
        color: white;
    }
}


.alert {
    padding:10px;
    border-radius: 3px;
    margin-bottom: 15px;

    &.alert-error {
        background-color: #f2baba;
        border: 1px solid #ba6161;
    }
}

.no-margin {
    margin: 0;
}


.margin-bottom-xs {
    margin-bottom: $xs;
}

.margin-bottom-sm {
    margin-bottom: $sm;
}

.margin-bottom-md {
    margin-bottom: $md;
}

@media only screen and (max-width: 820px) {
    .container {
        width: 96%;
        padding: 0 2%;
    }

    .column-sm-50 {
        width: 96%;
    }
}

@media only screen and (min-width: 1024px) {
    .modal {
        .modal-content {
            width: 1000px;
            margin: 30px auto;
        }
    }
}